<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KRSClientApplication.Properties.Settings.KRSDataBaseConnectionString"
            connectionString="Data Source=DESKTOP-5IPET5F\SQLEXPRESS;Initial Catalog=KRSDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>